<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>id</th>
    <th>task name</th>
    <th>Task Details</th>
  </tr>
    {% for d in xyz  %}
  <tr>
    <td>{{ d.id }}</td>
    <td>{{ d.task_name }}</td>
    <td>{{ d.task_details }}</td>
    <form action ="/app1/edittask">
      <input type="hidden" name="id" value="{{ d.id }}"/>
            <input type="hidden" name="task" value="{{ d.task_name }}"/>
            <input type="hidden" name="taskDetails" value="{{ d.task_details }}"/>
    <td><input type="submit" value="Update"/></td>
    </form>
  </tr>


{% endfor %}


</table>

</body>
</html>

